[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord.py = "==2.3.2"
python-dotenv = "==1.0.0"
aiohttp = "==3.9.1"
firebase-admin = "==6.2.0"

[dev-packages]

[requires]
python_version = "3.11" 